:root {
  --main-accent-color: #123400;
}

html,
body {
  height: 100%;
}

body {
  font-size: 24px;
  font-family: Georgia, serif;
  margin: 0;
  text-align: center;
  color: #fff;
  background-size: contain;
  background-image: url("./media/trees/f.jpg");
  background-color: #000;
  background-position: center bottom;
  background-repeat: no-repeat;
}

a {
  color: #ccc;
}

main {
  margin-bottom: 36px;
}

header {
  background-color: #ddd;
  color: #000;
}

header:before,
header:after {
  content: " ";
  display: table;
}

h1 {
  font-weight: 300;
  overflow: hidden;
  border-bottom: 2px solid var(--main-accent-color);
  padding-bottom: 12px;
  margin-bottom: 0;
}

p,
.rings-gl {
  margin-top: 0;
  margin-bottom: 24px;
}

.constrain-width {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.space-below {
  margin-bottom: 60px;
}

nav {
  display: flex;
  overflow-x: scroll;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  background-color: var(--main-accent-color);
  color: white;
  padding: 4px;
}

nav a {
  color: white;
}

.us {
  display: flex;
  overflow-x: scroll;
  height: 240px;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  border-bottom: 2px solid var(--main-accent-color);
  border-top: 2px solid var(--main-accent-color);
  padding-bottom: 0;
  background-color: #ddd;
}

.us::-webkit-scrollbar {
  /* hide scrollbar */
  width: 0px;
  height: 0px;
  background: transparent;
}

.us picture {
  padding-right: 12px;
  position: relative;
}

.us picture::after {
  content: attr(data-date);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 18px;
  padding: 12px;
}

.us picture:last-child {
  padding-right: 0;
}

.main-details {
  margin-top: 60px;
}

picture img {
  display: block;
}

section {
  padding-left: 12px;
  padding-right: 12px;
}

.rings .photo-row:not(:last-of-type) {
  margin-bottom: 16px;
}

.rings .photo-row {
  display: flex;
  justify-content: center;
}

.rings .photo-row > div {
  min-width: 0;
  max-width: 120px;
  margin-left: 8px;
  margin-right: 8px;
}

.rings .photo-row img {
  display: block;
  max-width: 100%;
}

#rings {
  min-height: 1px;
  height: 300px;
}

.yt {
  max-width: 512px;
  max-height: 288px;
  margin-right: auto;
  margin-left: auto;
}
.yt-wrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.yt-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
