:root {
  --main-accent-color: #123400;
}

h2,
h3 {
  color: #000;
}

.content {
  text-align: left;

  & .profile::after {
    content: "";
    display: table;
    clear: both;
  }

  & .profile-info img {
    float: right;
    margin-left: 20px;
    margin-bottom: 12px;
    max-width: 240px;
    max-height: 200px;
  }
}

@media (max-width: 540px) {
  .content {
    & .profile-info {
      text-align: center;

      & h3 {
        text-align: left;
      }

      & img {
        margin: 0 auto;
        float: none;
        max-width: 100%;
      }
    }
  }
}
