@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  background: #222;
  color: #fff;
  font-size: 16px;
}

#root {
  height: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 6px;
}

a {
  color: #00bcd4;
}

[class*="-style-question"] {
  margin-bottom: 12px;

  & label {
    display: block;

    & .question-num {
      color: white;
      font-family: monospace;
      font-size: 1rem;
      font-style: normal;
      font-weight: normal;
    }
  }

  & input {
    appearance: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  & .input-wrapper {
    display: flex;
    align-items: center;
  }

  & .continue {
    appearance: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: #00bcd4;
    text-decoration: underline;
    padding: 0;
    display: inline;
    cursor: pointer;
  }
}

.terminal-party-style-question,
.terminal-style-question {
  color: white;
  font-family: monospace;

  & input:focus {
    outline: none;
  }

  & .input-wrapper::before {
    content: "> ";
    color: white;
    display: block;
    margin-right: 12px;
  }
}

.terminal-party-style-question {
  &[data-state="correct"] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & .correct-answer {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
    color: chocolate;
    /* color: 
        DodgerBlue,
        OliveDrab,
        Gold,
        pink,
        SlateBlue,
        lightblue,
        Violet,
        PaleGreen,
        SteelBlue,
        SandyBrown,
        Chocolate,
        Crimson; */
    display: inline-block;
    animation-name: wobble;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-delay: -0.5s;
  }
}

.final-style-question {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & label {
    margin-bottom: 12px;
  }

  & .question-num {
    display: none;
  }

  & input {
    padding: 8px;
    background-color: #eee;
    color: #222;
    text-align: center;
  }
}

@keyframes rainbow-gradient {
  0% {
    background-position: 0% 0%;
  }
  33% {
    background-position: 100% 0%;
  }
  67% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 300% 0%;
  }
}

@keyframes wobble {
  0% {
    transform: rotate3d(1, 1, 1, 8deg);
    text-shadow: 1px 1px palegreen, 2px 2px palegreen, 3px 3px palegreen;
  }
  100% {
    transform: rotate3d(1, 1, 1, -8deg);
    text-shadow: 1px 1px palegreen, 2px 2px palegreen, 3px 3px palegreen,
      4px 4px palegreen;
  }
}

.complete {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
