:root {
  --main-accent-color: #123400;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("./paper.jpg");
  background-size: 50%;
  background-color: #fffffc;
  background-repeat: repeat;
  color: #222;
  font-size: 22px;
  font-family: Cochin, Georgia, serif;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}

a {
  color: #555;

  &:not([href]) {
    opacity: 0.6;
    text-decoration: none;
  }

  &:not([href^="http"]):not([href^="mailto"]) {
    text-decoration-style: dotted;
  }
}

header {
  background-color: #ddd;
  color: #000;

  &::before,
  &::after {
    content: " ";
    display: table;
  }
}

footer {
  font-size: 16px;

  &::before,
  &::after {
    content: " ";
    display: table;
  }
}

h1 {
  font-weight: 300;
  overflow: hidden;
  border-bottom: 2px solid var(--main-accent-color);
  padding-bottom: 12px;
  margin-bottom: 0;
  font-variant: small-caps;
  letter-spacing: 8px;

  & a {
    color: inherit;
    text-decoration: inherit;

    &[href]:focus {
      text-decoration: underline;
    }
  }
}

h2,
h3 {
  color: #000;
}

p {
  margin-bottom: 16px;
}

.constrain-width {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.space-below {
  margin-bottom: 40px;
}

.ribbon {
  box-shadow: 0 1px 2px rgba(100, 100, 100, 0.6);
}

#primary-nav {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: var(--main-accent-color);
  color: white;
  padding: 4px;
  font-size: 20px;
  text-align: center;

  &::-webkit-scrollbar {
    /* hide scrollbar */
    width: 0;
    height: 0;
    background: transparent;
  }

  & .mobile-toggle {
    display: none;
  }

  & .extra-links {
    display: inline-block;
  }

  & .center-nav {
    padding: 0 8px;
    margin: 0 auto;
  }

  & a {
    display: inline-block;
    padding: 4px 8px;
    color: inherit;
    text-decoration: inherit;
    white-space: pre;

    &[href]:hover,
    &[href]:focus {
      text-decoration: underline;
    }

    &.active {
      text-decoration-line: underline;
      text-decoration-style: dotted;
      text-decoration-color: #ccc;
    }
  }
}

.content {
  & img.pop {
    box-shadow: 0 1px 2px rgba(100, 100, 100, 0.6);
  }
}

@media (max-width: 540px) {
  body {
    font-size: 18px;
    line-height: 1.4;
  }

  #primary-nav {
    & .extra-links {
      display: none;

      & a {
        display: block;
        line-height: 1.2;
      }
    }

    & .mobile-toggle {
      display: initial;
    }

    & input.mobile-toggle {
      display: none;

      &:checked ~ .extra-links {
        display: block;
      }

      &:checked ~ label {
        display: none;
      }
    }
  }

  h1 {
    margin-top: 0;
    padding-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
    line-height: 1.1;
  }
}

picture img {
  display: block;
}

section {
  padding-left: 12px;
  padding-right: 12px;
}
